{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">Edit Exercise: {{ exercise }}</div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{% url 'edit_exercise' exercise.id %}" method="post">
                {% csrf_token %}
                {{ exercise_form.as_p }}
                <button type="submit" class="btn btn-dark">Edit Exercise</button>
                <a href="{% url 'delete_exercise' exercise.id %}" class="btn-btn-danger">Delete Exercise</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}