html,
body {
    height: 100%;
}

body {
    background-color: #FFFDD0;
    background-size: 100%;
    color: #555;
    font-family: 'Lato';
}

body>footer {
    position: sticky;
    top: 100vh;
}

main {
    margin-top: 5em;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.workouts-button {
    background: #222222;
    color: #FFFDD0;
    min-width: 260px;

}

.workouts-button:hover,
.workouts-button:active,
.workouts-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #0000FF;
    color: white;
}

.donate-button {
    background: #222222;
    color: #FFFDD0;
    min-width: 260px;
}

.btn-black {
    background: rgb(255, 255, 255);
    color: white;
}

.donate-button:hover,
.donate-button:active,
.donate-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #0000FF;
    color: white;
}

.text-black {
    color: #000000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* .header-container {
        padding-top: 164px;
    } */
}

.badge {
    white-space: break-spaces;
    line-height: 2;
    border-radius: 8px;
}